In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_excel('SampleData_CreditServices.xlsx')
print(data)
data.head()
data.tail()

       Unique Record ID  Portfolio Type                    Product Name  \
0                119817  Personal Loans                   Personal Loan
1                119819  Personal Loans         Debt Consolidation Loan
2                119824            Auto                       Auto Used
3                119830            Auto                       Auto Used
4                119838            Auto                       Auto Used
5                119838            Auto                       Auto Used
6                119841    Credit Cards                    Premium Visa
7                119846  Personal Loans                   Personal Loan
8                119846  Personal Loans                   Personal Loan
9                119851            Auto                       Auto Used
10               119853            Auto                       Auto Used
11               119865  Personal Loans                   Personal Loan
12               119865  Personal Loans                   Personal Loan
13               119869  Personal Loans                   Personal Loan
14               119871    Credit Cards               Pure Rewards Visa
15               119875            Auto                       Auto Used
16               119878  Personal Loans                   Personal Loan
17               119882            Auto                       Auto Used
18               119887            Auto                       Auto Used
19               119889            Auto                       Auto Used
20               119892    Credit Cards                    Premium Visa
21               119894  Personal Loans                   Personal Loan
22               119898            Auto                       Auto Used
23               119905    Credit Cards                    Premium Visa
24               119908            Auto                       Auto Used
25               119917            Auto                        Auto New
26               119917            Auto                        Auto New
27               119924    Credit Cards                    Premium Visa
28               119928            Auto                       Auto Used
29               119930    Credit Cards                    Premium Visa
...                 ...             ...                             ...
39099            201771    Credit Cards                    Premium Visa
39100            201771    Credit Cards                    Premium Visa
39101            201772            Auto                        Auto New
39102            201772            Auto                        Auto New
39103            201783    Credit Cards     Cash Rewards Visa Signature
39104            201785            Auto                       Auto Used
39105            201821            Auto                       Auto Used
39106            201821            Auto                       Auto Used
39107            201829  Personal Loans         Debt Consolidation Loan
39108            201831            Auto                       Auto Used
39109            201835            Auto                       Auto Used
39110            201841            Auto  First Time Car Buyer Used Auto
39111            201847    Credit Cards               Pure Rewards Visa
39112            201852    Credit Cards               Pure Rewards Visa
39113            201854            Auto                       Auto Used
39114            201855  Personal Loans         Debt Consolidation Loan
39115            201857    Credit Cards     Cash Rewards Visa Signature
39116            201859  Personal Loans                   Personal Loan
39117            201860            Auto                       Auto Used
39118            201862  Personal Loans                   Personal Loan
39119            201865            Auto                       Auto Used
39120            201866  Personal Loans                   Personal Loan
39121            201867    Credit Cards               Pure Rewards Visa
39122            201868    Credit Cards                    Premium Visa
39123            201870  Personal Loans         Debt Consolidation Loan
39124            201871            Auto                       Auto Used
39125            201872            Auto                       Auto Used
39126            201873  Personal Loans         Debt Consolidation Loan
39127            201874            Auto                       Auto Used
39128            201875  Personal Loans         Debt Consolidation Loan

       Interest Rate Offered      Last Name   First Name Middle Initial  \
0                      11.00        Drayton        Tomas              A
1                       9.25         Bearam          Zoe            NaN
2                       2.74         Madden        Robin              M
3                       3.99        Brunard         Jean              S
4                       2.99         Voitel      Nichole              C
5                       2.99         Voitel      Richard              J
6                       9.35      Morecraft        James              L
7                      14.00         Chacon      Selmira            NaN
8                      14.00        Garrido       Victor              M
9                       8.49     Springette         Rita              P
10                      6.99          Grant        Shawn            NaN
11                     14.00     Hutchinson         Noel              W
12                     14.00     Hutchinson      Nolalee              N
13                     11.00          Labar         John              J
14                     14.50      Hernandez        James              A
15                      8.24           Rios         Ines              A
16                     18.00         Reagan         Mary              C
17                      2.74       Mitchell      Jalissa              D
18                      3.74          Brown        Cecil              E
19                      2.54       Campbell        James              P
20                     13.10         Mclean       Lindon              R
21                      9.25           Doan          Hoc              T
22                      6.99      Oyefesobi    Babatunde              O
23                     13.10         Toifel        Jason              M
24                      6.99           Neal  Christopher              L
25                      5.49        Barnett       Elaine              G
26                      5.49        Barnett         Mark              A
27                     15.10           Mayo        Craig              L
28                      5.49       Sullivan         Sean              E
29                     13.10        Cameron        Kevin              M
...                      ...            ...          ...            ...
39099                  10.85   Moreno Ayala       Julian              D
39100                  10.85  Moreno-Moreno        Ramon              O
39101                   3.73         Bhatia       Naresh              K
39102                   3.73         Bhatia        Manju            NaN
39103                  15.75        Schutte       Joseph              A
39104                   5.24        Vallejo        Frank              A
39105                   3.73         Sibona      Jessica              T
39106                   3.73         Sibona       Philip            NaN
39107                  11.75          Marks        Asher              A
39108                   3.73        Hammond        Carla            NaN
39109                   4.73      Mathiesen         Tara              H
39110                   8.49       Martinez        Ariel            NaN
39111                  18.00      Rodriguez         Ruth              V
39112                  16.25  Philip Kurien       Ashish            NaN
39113                   3.73       Mannello         Ryan            NaN
39114                  15.75         Kapoor      Rashesh            NaN
39115                  17.75         Kapoor      Rashesh            NaN
39116                  17.75          Moran       Edward              D
39117                   3.73       D'Egidio      Kristen              S
39118                  14.75        Hoggard       Jamaal            NaN
39119                   8.49           Atal       Hruday            NaN
39120                  11.75        Paredes      Leticia            NaN
39121                  18.00  Prinez Wilder      Kristal            NaN
39122                  12.85      Mielcarek        Karen              L
39123                  16.75         Chavez      ALberto            NaN
39124                   3.73          Abreu       Ashley              J
39125                   3.73         Famula        James              E
39126                  17.75       Kubat SR      Anthony            NaN
39127                  16.49       Gonzalez      Jessica              K
39128                  16.75        Jackson        David              E

      Generation Code  House Number  Street Direction   ...     \
0                 NaN           NaN               NaN   ...
1                 NaN           NaN               NaN   ...
2                 NaN           NaN               NaN   ...
3                 NaN           NaN               NaN   ...
4                 NaN           NaN               NaN   ...
5                 NaN           NaN               NaN   ...
6                 NaN           NaN               NaN   ...
7                 NaN           NaN               NaN   ...
8                 NaN           NaN               NaN   ...
9                 NaN           NaN               NaN   ...
10                NaN           NaN               NaN   ...
11                NaN           NaN               NaN   ...
12                NaN           NaN               NaN   ...
13                NaN           NaN               NaN   ...
14                NaN           NaN               NaN   ...
15                NaN           NaN               NaN   ...
16                NaN           NaN               NaN   ...
17                NaN           NaN               NaN   ...
18                NaN           NaN               NaN   ...
19                III           NaN               NaN   ...
20                NaN           NaN               NaN   ...
21                NaN           NaN               NaN   ...
22                NaN           NaN               NaN   ...
23                NaN           NaN               NaN   ...
24                NaN           NaN               NaN   ...
25                NaN           NaN               NaN   ...
26                NaN           NaN               NaN   ...
27                NaN           NaN               NaN   ...
28                NaN           NaN               NaN   ...
29                NaN           NaN               NaN   ...
...               ...           ...               ...   ...
39099             NaN           NaN               NaN   ...
39100             NaN           NaN               NaN   ...
39101             NaN           NaN               NaN   ...
39102             NaN           NaN               NaN   ...
39103             NaN           NaN               NaN   ...
39104             NaN           NaN               NaN   ...
39105             NaN           NaN               NaN   ...
39106             NaN           NaN               NaN   ...
39107             NaN           NaN               NaN   ...
39108             NaN           NaN               NaN   ...
39109             NaN           NaN               NaN   ...
39110             NaN           NaN               NaN   ...
39111             NaN           NaN               NaN   ...
39112             NaN           NaN               NaN   ...
39113             NaN           NaN               NaN   ...
39114             NaN           NaN               NaN   ...
39115             NaN           NaN               NaN   ...
39116             NaN           NaN               NaN   ...
39117             NaN           NaN               NaN   ...
39118             NaN           NaN               NaN   ...
39119             NaN           NaN               NaN   ...
39120             NaN           NaN               NaN   ...
39121             NaN           NaN               NaN   ...
39122             NaN           NaN               NaN   ...
39123             Jr.           NaN               NaN   ...
39124             NaN           NaN               NaN   ...
39125             NaN           NaN               NaN   ...
39126             NaN           NaN               NaN   ...
39127             NaN           NaN               NaN   ...
39128             NaN           NaN               NaN   ...

                                                 AAText4  \
0                                   Length of employment
1              Too few accounts currently paid as agreed
2                                                    NaN
3      Length of time revolving accounts have been es...
4                                                    NaN
5                                                    NaN
6                                                    NaN
7                                    Serious delinquency
8      Ratio of balance to limit on bank revolving or...
9                                    Poor credit history
10     Serious delinquency and Public Record OR Colle...
11     Time since derogatory public record or collect...
12     Length of time revolving accounts have been es...
13                                                   NaN
14                                                   NaN
15                   Number of accounts with delinquency
16     Ratio of balance to limit on bank revolving or...
17                     Too many inquiries last 12 months
18             Too few accounts currently paid as agreed
19                                                   NaN
20                                                   NaN
21                                                   NaN
22           Lack of recent installment loan information
23                                                   NaN
24     Serious delinquency and Public Record OR Colle...
25                   Number of accounts with delinquency
26             Too few accounts currently paid as agreed
27           Lack of recent installment loan information
28       Time since delinquency is too recent or unknown
29                                                   NaN
...                                                  ...
39099                                                NaN
39100                                                NaN
39101                                                NaN
39102                                                NaN
39103                                                NaN
39104                                                NaN
39105                                                NaN
39106                                                NaN
39107                                                NaN
39108                                                NaN
39109                                                NaN
39110                  Too many inquiries last 12 months
39111       Derogatory Public Record or Collection filed
39112                                                NaN
39113                                                NaN
39114                                                NaN
39115                                                NaN
39116                                                NaN
39117                                                NaN
39118      Length of time accounts have been established
39119                                                NaN
39120                                                NaN
39121                Number of accounts with delinquency
39122      Length of time accounts have been established
39123                                                NaN
39124                                                NaN
39125  Time since most recent account opening is too ...
39126  Ratio of balance to limit on bank revolving or...
39127                Number of accounts with delinquency
39128      Length of time accounts have been established

                                                 AAText5  \
0      Length of time revolving accounts have been es...
1                                                    NaN
2                                                    NaN
3      Ratio of balance to limit on bank revolving or...
4                                                    NaN
5                                                    NaN
6                                                    NaN
7              Too few accounts currently paid as agreed
8                                    Serious delinquency
9      Ratio of balance to limit on bank revolving or...
10       Time since delinquency is too recent or unknown
11                                                   NaN
12                            Non qualified Co-applicant
13                                                   NaN
14                                                   NaN
15     Ratio of balance to limit on bank revolving or...
16     Serious delinquency and Public Record OR Colle...
17                                                   NaN
18                                                   NaN
19                                                   NaN
20                                                   NaN
21                                                   NaN
22     Ratio of balance to limit on bank revolving or...
23                                                   NaN
24            Value or type of collateral not sufficient
25     Ratio of balance to limit on bank revolving or...
26                                                   NaN
27                                        Limited Credit
28                                                   NaN
29                                                   NaN
...                                                  ...
39099                                                NaN
39100                                                NaN
39101                                                NaN
39102                                                NaN
39103                                                NaN
39104                                                NaN
39105                                                NaN
39106                                                NaN
39107                                                NaN
39108                                                NaN
39109                                                NaN
39110                            Unable to verify income
39111  Lack of recent bank/national revolving informa...
39112                                                NaN
39113                                                NaN
39114                                                NaN
39115                                                NaN
39116                                                NaN
39117                                                NaN
39118  Number of recent inquiries on credit bureau re...
39119                                                NaN
39120                                                NaN
39121  Ratio of balance to limit on bank revolving or...
39122  Ratio of balance to limit on bank revolving or...
39123                                                NaN
39124                                                NaN
39125                                                NaN
39126  Serious delinquency and Public Record OR Colle...
39127  Ratio of balance to limit on bank revolving or...
39128  Ratio of balance to limit on bank revolving or...

                                                 AAText6  \
0      Proportion of loan balances to loan amounts is...
1                                                    NaN
2                                                    NaN

,Unique Record ID,Portfolio Type,Product Name,Interest Rate Offered,Last Name,First Name,Middle Initial,Generation Code,House Number,Street Direction,...,AAText4,AAText5,AAText6,AAText7,AAText8,AAText9,AAText10,AAText11,AAText12,AAText13
39124,201871,Auto,Auto Used,3.73,Abreu,Ashley,J,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39125,201872,Auto,Auto Used,3.73,Famula,James,E,NaN,NaN,NaN,...,Time since most recent account opening is too ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39126,201873,Personal Loans,Debt Consolidation Loan,17.75,Kubat SR,Anthony,NaN,NaN,NaN,NaN,...,Ratio of balance to limit on bank revolving or...,Serious delinquency and Public Record OR Colle...,Too few accounts currently paid as agreed,We do not grant credit to any applicant on the...,NaN,NaN,NaN,NaN,NaN,NaN
39127,201874,Auto,Auto Used,16.49,Gonzalez,Jessica,K,NaN,NaN,NaN,...,Number of accounts with delinquency,Ratio of balance to limit on bank revolving or...,Serious delinquency and Public Record OR Colle...,Time since delinquency is too recent or unknown,NaN,NaN,NaN,NaN,NaN,NaN
39128,201875,Personal Loans,Debt Consolidation Loan,16.75,Jackson,David,E,NaN,NaN,NaN,...,Length of time accounts have been established,Ratio of balance to limit on bank revolving or...,Serious delinquency and Public Record OR Colle...,Time since derogatory public record or collect...,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
data.shape

(39129, 53)

In [6]:
data.describe()

,Unique Record ID,Interest Rate Offered,House Number,Street Direction,Zip,Social Security Number,Credit Score 1,Credit Score 2,Worst Performance Everrrr,Referral Reason,...,Loan Amount,Loan Term,Final Interest,ApplicationID,Note Balance,Debt to Income Ratio,Total Debt,Total Income,LoanNumber,AAText13
count,39129.000000,39108.000000,0.0,0.0,39092.000000,3.912900e+04,38933.000000,0.0,39129.000000,0.0,...,39129.000000,11414.000000,16089.000000,39129.000000,16089.000000,3.912000e+04,39120.000000,39120.000000,1.736200e+04,0.0
mean,159286.639423,10.576579,NaN,NaN,14572.211757,1.989650e+08,654.670382,NaN,4.427713,NaN,...,14522.094802,56.295427,9.497559,165053.454318,7391.241468,7.465934e+02,2326.558889,6976.120014,2.608698e+12,NaN
std,23680.162959,5.034124,NaN,NaN,17379.900869,1.590686e+08,161.990148,NaN,3.528297,NaN,...,13575.107662,20.377029,4.533194,24459.468143,10471.587588,3.839873e+04,1848.852442,12348.348688,4.296882e+12,NaN
min,119817.000000,0.000000,NaN,NaN,727.000000,1.290040e+06,0.000000,NaN,0.000000,NaN,...,0.000000,3.000000,0.000000,122246.000000,-14985.700000,0.000000e+00,0.000000,0.000000,8.102700e+08,NaN
25%,137415.000000,5.490000,NaN,NaN,7504.000000,1.372132e+08,614.000000,NaN,0.000000,NaN,...,5000.000000,48.000000,4.870000,142863.000000,0.000000,2.497750e-01,1142.220000,3250.000000,8.108231e+08,NaN
50%,158221.000000,10.750000,NaN,NaN,8809.000000,1.477223e+08,678.000000,NaN,7.000000,NaN,...,10710.000000,60.000000,9.750000,163669.000000,3099.190000,3.611000e-01,1935.750000,5313.375000,8.115379e+08,NaN
75%,180246.000000,15.000000,NaN,NaN,8904.000000,1.580233e+08,743.000000,NaN,7.000000,NaN,...,20561.500000,72.000000,12.600000,186693.000000,11414.900000,4.775000e-01,3061.002500,8500.000000,9.688045e+12,NaN
max,201875.000000,18.000000,NaN,NaN,99703.000000,9.777953e+08,900.000000,NaN,8.000000,NaN,...,220197.680000,180.000000,18.000000,209320.000000,198830.860000,3.691260e+06,76053.400000,990090.000000,9.688045e+12,NaN

In [7]:
data.nunique()

Unique Record ID                34802
Portfolio Type                      3
Product Name                       10
Interest Rate Offered             274
Last Name                       15073
First Name                       8058
Middle Initial                     32
Generation Code                     5
House Number                        0
Street Direction                    0
Street Name                     25624
Apt_ Number                      2084
City                             2910
State                              54
Zip                              4342
Social Security Number          29241
Credit Score 1                    482
Credit Score 2                      0
Application Date                  759
Client Decision                     5
Worst Performance Everrrr           8
Manual or Automatic Approval        2
Final Application Status           10
Referral Reason                     0
Booking Date                      664
Override Reason 1                   0
Override Reason 2                   0
Loan Officer/Branch ID             25
Application Time                   65
Loan Amount                      7877
Loan Term                          71
Final Interest                    229
ApplicationID                   34802
Note Balance                     9846
Applicant Status                    2
Debt to Income Ratio             8669
Total Debt                      30129
Total Income                    11008
Product Purpose                     8
LoanNumber                      14995
AAText1                            75
AAText2                            96
AAText3                           101
AAText4                            75
AAText5                            76
AAText6                            56
AAText7                            43
AAText8                            31
AAText9                            21
AAText10                           10
AAText11                            6
AAText12                            3
AAText13                            0
dtype: int64

In [17]:
data.isnull().sum()

Unique Record ID                    0
Portfolio Type                      0
Product Name                        0
Interest Rate Offered              21
Last Name                           0
First Name                          0
Middle Initial                  15068
Generation Code                 38221
House Number                    39129
Street Direction                39129
Street Name                        28
Apt_ Number                     32503
City                               50
State                              35
Zip                                37
Social Security Number              0
Credit Score 1                    196
Credit Score 2                  39129
Application Date                    0
Client Decision                   103
Worst Performance Everrrr           0
Manual or Automatic Approval    16894
Final Application Status            5
Referral Reason                 39129
Booking Date                    23040
Override Reason 1               39129
Override Reason 2               39129
Loan Officer/Branch ID              0
Application Time                23040
Loan Amount                         0
Loan Term                       27715
Final Interest                  23040
ApplicationID                       0
Note Balance                    23040
Applicant Status                    0
Debt to Income Ratio                9
Total Debt                          9
Total Income                        9
Product Purpose                     0
LoanNumber                      21767
AAText1                         20875
AAText2                         21098
AAText3                         21498
AAText4                         21816
AAText5                         25164
AAText6                         27436
AAText7                         33143
AAText8                         37162
AAText9                         38737
AAText10                        39097
AAText11                        39120
AAText12                        39126
AAText13                        39129
dtype: int64

In [3]:
formatted_df = pd.to_datetime(data["Application Date"])
data["Application Date"]=formatted_df.dt.strftime("%m%Y")
print(data['Application Date'])

0        032017
1        032017
2        032017
3        032017
4        032017
5        032017
6        032017
7        032017
8        032017
9        032017
10       032017
11       032017
12       032017
13       032017
14       032017
15       032017
16       032017
17       032017
18       032017
19       032017
20       032017
21       032017
22       032017
23       032017
24       032017
25       032017
26       032017
27       032017
28       032017
29       032017
          ...
39099    032019
39100    032019
39101    032019
39102    032019
39103    032019
39104    032019
39105    032019
39106    032019
39107    032019
39108    032019
39109    032019
39110    032019
39111    032019
39112    032019
39113    032019
39114    032019
39115    032019
39116    032019
39117    032019
39118    032019
39119    032019
39120    032019
39121    032019
39122    032019
39123    032019
39124    032019
39125    032019
39126    032019
39127    032019
39128    032019
Name: Application Date, Length: 39129, dtype: object

In [4]:
#duplicateID = data[data.duplicated(subset='Unique Record ID', keep=False)]
#print(duplicateID)

# making a bool series 
bool_series = data["Unique Record ID"].duplicated(keep=False) 
  
# displaying data 
data.head() 
  
# display data 
data[bool_series]

,Unique Record ID,Portfolio Type,Product Name,Interest Rate Offered,Last Name,First Name,Middle Initial,Generation Code,House Number,Street Direction,...,AAText4,AAText5,AAText6,AAText7,AAText8,AAText9,AAText10,AAText11,AAText12,AAText13
4,119838,Auto,Auto Used,2.99,Voitel,Nichole,C,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,119838,Auto,Auto Used,2.99,Voitel,Richard,J,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,119846,Personal Loans,Personal Loan,14.00,Chacon,Selmira,NaN,NaN,NaN,NaN,...,Serious delinquency,Too few accounts currently paid as agreed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,119846,Personal Loans,Personal Loan,14.00,Garrido,Victor,M,NaN,NaN,NaN,...,Ratio of balance to limit on bank revolving or...,Serious delinquency,Too many inquiries last 12 months,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,119865,Personal Loans,Personal Loan,14.00,Hutchinson,Noel,W,NaN,NaN,NaN,...,Time since derogatory public record or collect...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,119865,Personal Loans,Personal Loan,14.00,Hutchinson,Nolalee,N,NaN,NaN,NaN,...,Length of time revolving accounts have been es...,Non qualified Co-applicant,Proportion of loan balances to loan amounts is...,Ratio of balance to limit on bank revolving or...,NaN,NaN,NaN,NaN,NaN,NaN
25,119917,Auto,Auto New,5.49,Barnett,Elaine,G,NaN,NaN,NaN,...,Number of accounts with delinquency,Ratio of balance to limit on bank revolving or...,Serious delinquency,Too few accounts currently paid as agreed,NaN,NaN,NaN,NaN,NaN,NaN
26,119917,Auto,Auto New,5.49,Barnett,Mark,A,NaN,NaN,NaN,...,Too few accounts currently paid as agreed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,119983,Personal Loans,Personal Loan,8.25,Brace,David,N,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,119983,Personal Loans,Personal Loan,8.25,Digrazia Jr,Albert,A,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,119999,Auto,Auto Used,7.49,Ramirez,Reina,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,119999,Auto,Auto Used,7.49,Ramirezquinteros,Jose,D,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,120035,Credit Cards,Premium Visa,9.10,Mosley,Jason,S,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,120035,Credit Cards,Premium Visa,9.10,Mosley,Allison,L,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,120040,Credit Cards,Premium Visa,9.10,Mosley,Jason,S,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,120040,Credit Cards,Premium Visa,9.10,Mosley,Michael,S,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,120053,Auto,Auto Used,3.74,Cardona-Lozano,Carlos,A,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,120053,Auto,Auto Used,3.74,Garrido,Dila,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,120077,Credit Cards,Pure Rewards Visa,16.50,Sosa,Nicole,NaN,NaN,NaN,NaN,...,Serious delinquency and Public Record OR Colle...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73,120077,Credit Cards,Pure Rewards Visa,16.50,Mccauley,Michael,K,NaN,NaN,NaN,...,Ratio of balance to limit on bank revolving or...,Serious delinquency and Public Record OR Colle...,Too few accounts currently paid as agreed,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85,120121,Personal Loans,Personal Loan,16.00,Joseph,Edwina,C,NaN,NaN,NaN,...,Lack of recent revolving account information,Limited Credit,Non qualified Co-applicant,Proportion of loan balances to loan amounts is...,NaN,NaN,NaN,NaN,NaN,NaN
86,120121,Personal Loans,Personal Loan,16.00,JOSEPH,SYLVIA,A,NaN,NaN,NaN,...,Too few accounts currently paid as agreed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,120149,Personal Loans,Personal Loan,8.25,Vietri,Joseph,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,120149,Personal Loans,Personal Loan,8.25,Vietri,Cheryl,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,120228,Personal Loans,Personal Loan,11.00,Medrano Jr,Angel,R,NaN,NaN,NaN,...,Length of time accounts have been established,Ratio of balance to limit on bank revolving or...,Too many inquiries last 12 months,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,120228,Personal Loans,Personal Loan,11.00,Soto,Jasmine,A,NaN,NaN,NaN,...,Time since derogatory public record or collect...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
122,120232,Personal Loans,Debt Consolidation Loan,9.25,Hendricks,Jean,M,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
123,120232,Personal Loans,Debt Consolidation Loan,9.25,Hendricks,Kevin,J,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126,120249,Credit Cards,Premium Visa,9.10,Padula,Peter,P,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
127,120249,Credit Cards,Premium Visa,9.10,ROSAMILIA,TINA,M,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39002,201535,Auto,First Time Car Buyer Used Auto,10.49,Gottlick,Donald,NaN,NaN,NaN,NaN,...,Serious delinquency and Public Record OR Colle...,Time since delinquency is too recent or unknown,Too few accounts currently paid as agreed,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39003,201535,Auto,First Time Car Buyer Used Auto,10.49,Friedman,Amanda,B,NaN,NaN,NaN,...,Time since delinquency is too recent or unknown,Too few accounts currently paid as agreed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39005,201538,Personal Loans,Personal Loan,15.00,Johnson,Rashelle,NaN,NaN,NaN,NaN,...,Too many inquiries last 12 months,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39006,201538,Personal Loans,Personal Loan,15.00,Johnson,Eric,NaN,NaN,NaN,NaN,...,Ratio of balance to limit on bank revolving or...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39011,201555,Auto,Auto Used,3.73,Hughes,Gary,C,NaN,NaN,NaN,...,Too few accounts currently paid as agreed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39012,201555,Auto,Auto Used,3.73,Hughes,Michele,L,NaN,NaN,NaN,...,Too few accounts currently paid as agreed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39028,201597,Personal Loans,Personal Loan,16.75,Hackney,Kim,NaN,NaN,NaN,NaN,...,Serious delinquency and Public Record OR Colle...,Time since delinquency is too recent or unknown,Time since derogatory public record or collect...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39029,201597,Personal Loans,Personal Loan,16.75,Hackney,Yadira,NaN,NaN,NaN,NaN,...,Excessive obligations in relation to income,Lack of recent bank/national revolving informa...,Lack of recent revolving account information,Too few accounts currently paid as agreed,NaN,NaN,NaN,NaN,NaN,NaN
39033,201603,Auto,Auto Used,4.73,Muller,Vincent,J,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39034,201603,Auto,Auto Used,4.73,Muller,Steven,V,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39049,201626,Credit Cards,Pure Rewards Visa,14.25,Flournoy,James,B,Jr.,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39050,201626,Credit Cards,Pure Rewards Visa,14.25,Shearer,Song Chau,T,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39057,201650,Auto,Auto Used,5.25,Atkins-Little,Salaine,NaN,NaN,NaN,NaN,...,Time since delinquency is too recent or unknown,Too many inquiries last 12 months,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39058,201650,Auto,Auto Used,5.25,Little,Keith,NaN,NaN,NaN,NaN,...,Number of accounts with delinquency,Serious delinquency,Time since delinquency is too recent or unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39075,201696,Personal Loans,Debt Consolidation Loan,14.75,Keyes,Ann,M,NaN,NaN,NaN,...,Ratio of balance to limit on bank revolving or...,Too many consumer finance company accounts,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39076,201696,Personal Loans,Debt Consolidation Loan,14.75,Keyes,Eric,D,NaN,NaN,NaN,...,Length of time accounts have been established,Ratio of balance to limit on bank revolving or...,Too many consumer finance company accounts,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39079,201704,Personal Loans,Personal Loan,9.75,ESTES,NATALIE,R,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39080,201704,Personal Loans,Personal Loan,9.75,Hampton,Mickel,C,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39083,201718,Personal Loans,Debt Consolidation Loan,17.00,Palanca,Raymond,R,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39084,201718,Personal Loans,Debt Consolidation Loan,17.00,Palanca,Susan,A,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39088,201740,Credit Cards,Premium Visa,12.85,Simmons,Roman,A,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39089,201740,Credit Cards,Premium Visa,12.85,Cornelius-Langley,Vera,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39094,201759,Auto,Auto Used,3.73,Katyal,Harash,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39095,201759,Auto,Auto Used,3.73,Katyal,Monica,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39099,201771,Credit Cards,Premium Visa,10.85,Moreno Ayala,Julian,D,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39100,201771,Credit Cards,Premium Visa,10.85,Moreno-Moreno,Ramon,O,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39101,201772,Auto,Auto New,3.73,Bhatia,Naresh,K,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39102,201772,Auto,Auto New,3.73,Bhatia,Manju,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39105,201821,Auto,Auto Used,3.73,Sibona,Jessica,T,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39106,201821,Auto,Auto Used,3.73,Sibona,Philip,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
conditions = [
          (data['Worst Performance Everrrr'] == 0) | (data['Worst Performance Everrrr'] == 1),
          (data['Worst Performance Everrrr'] == 2) | (data['Worst Performance Everrrr'] == 3),
          (data['Worst Performance Everrrr'] == 4) | (data['Worst Performance Everrrr'] == 6),
          (data['Worst Performance Everrrr'] == 7),
          (data['Worst Performance Everrrr'] == 8)
           ]

# create a list of the values we want to assign for each condition
values = ['Good', 'Bad/Delinquent', 'Bad/Loss', 'Reject', 'Approved Not Booked (ANB)']

# create a new column and use np.select to assign values to it using our lists as arguments
data['Final Performance Flag'] = np.select(conditions, values)

# display updated DataFrame
data.head()
data.tail()

,Unique Record ID,Portfolio Type,Product Name,Interest Rate Offered,Last Name,First Name,Middle Initial,Generation Code,House Number,Street Direction,...,AAText5,AAText6,AAText7,AAText8,AAText9,AAText10,AAText11,AAText12,AAText13,Final Performance Flag
39124,201871,Auto,Auto Used,3.73,Abreu,Ashley,J,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Good
39125,201872,Auto,Auto Used,3.73,Famula,James,E,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Approved Not Booked (ANB)
39126,201873,Personal Loans,Debt Consolidation Loan,17.75,Kubat SR,Anthony,NaN,NaN,NaN,NaN,...,Serious delinquency and Public Record OR Colle...,Too few accounts currently paid as agreed,We do not grant credit to any applicant on the...,NaN,NaN,NaN,NaN,NaN,NaN,Reject
39127,201874,Auto,Auto Used,16.49,Gonzalez,Jessica,K,NaN,NaN,NaN,...,Ratio of balance to limit on bank revolving or...,Serious delinquency and Public Record OR Colle...,Time since delinquency is too recent or unknown,NaN,NaN,NaN,NaN,NaN,NaN,Reject
39128,201875,Personal Loans,Debt Consolidation Loan,16.75,Jackson,David,E,NaN,NaN,NaN,...,Ratio of balance to limit on bank revolving or...,Serious delinquency and Public Record OR Colle...,Time since derogatory public record or collect...,NaN,NaN,NaN,NaN,NaN,NaN,Reject

In [6]:
# Get a bool series representing which row 
# satisfies the condition i.e. True for 
# row in which 'College' is 'Geu' 
data1 = data.apply(lambda x : True
            if x['Final Performance Flag'] == "Bad/Delinquent" or x['Final Performance Flag'] == "Bad/Loss" else False, axis = 1) 
  
# Count number of True in the series 
Bads = len(data1[data1 == True].index) 
  
print('Number of Bads: ', 
      Bads )

Number of Bads:  1074

In [7]:
data2 = data.apply(lambda y : True
            if y['Final Performance Flag'] == "Good" or y['Final Performance Flag'] == "Bad/Delinquent" or y['Final Performance Flag'] == "Bad/Loss" else False, axis = 1) 
  
# Count number of True in the series 
Booked = len(data2[data2 == True].index) 
  
print('Number of Booked: ', 
      Booked)

Number of Booked:  16089

In [8]:
Bad_Rate_Calculation= Bads/Booked
print(round(Bad_Rate_Calculation*100,2))

6.68

In [9]:
pd.crosstab(data['Worst Performance Everrrr'], data['Portfolio Type'],margins=True, margins_name="Total")

Portfolio Type              Auto  Credit Cards  Personal Loans  Total
Worst Performance Everrrr
0                           5283          4030            4958  14271
1                            204           301             239    744
2                             32            89              92    213
3                             31            66              74    171
4                             42           160             302    504
6                             19            28             139    186
7                           4446          3400            8037  15883
8                           4744          1495             918   7157
Total                      14801          9569           14759  39129

In [10]:
# create excel writer-filename
writer = pd.ExcelWriter('output.xlsx')
# write dataframe to excel sheet
data.to_excel(writer, 'EDA_SampleData')
# save the excel file
writer.save()
print('DataFrame is written successfully to Excel Sheet.')

DataFrame is written successfully to Excel Sheet.