In [3]:
import numpy as np
import pandas as pd

In [47]:
data=pd.read_excel('SampleData.xlsx')
print(data)
data.head()
data.tail()

       Unique Record ID  Portfolio Type                    Product Name  \
0                119817  Personal Loans                   Personal Loan
1                119819  Personal Loans         Debt Consolidation Loan
2                119824            Auto                       Auto Used
3                119830            Auto                       Auto Used
4                119838            Auto                       Auto Used
5                119838            Auto                       Auto Used
6                119841    Credit Cards                    Premium Visa
7                119846  Personal Loans                   Personal Loan
8                119846  Personal Loans                   Personal Loan
9                119851            Auto                       Auto Used
10               119853            Auto                       Auto Used
11               119865  Personal Loans                   Personal Loan
12               119865  Personal Loans                   Personal Loan
13               119869  Personal Loans                   Personal Loan
14               119871    Credit Cards               Pure Rewards Visa
15               119875            Auto                       Auto Used
16               119878  Personal Loans                   Personal Loan
17               119882            Auto                       Auto Used
18               119887            Auto                       Auto Used
19               119889            Auto                       Auto Used
20               119892    Credit Cards                    Premium Visa
21               119894  Personal Loans                   Personal Loan
22               119898            Auto                       Auto Used
23               119905    Credit Cards                    Premium Visa
24               119908            Auto                       Auto Used
25               119917            Auto                        Auto New
26               119917            Auto                        Auto New
27               119924    Credit Cards                    Premium Visa
28               119928            Auto                       Auto Used
29               119930    Credit Cards                    Premium Visa
...                 ...             ...                             ...
39099            201771    Credit Cards                    Premium Visa
39100            201771    Credit Cards                    Premium Visa
39101            201772            Auto                        Auto New
39102            201772            Auto                        Auto New
39103            201783    Credit Cards     Cash Rewards Visa Signature
39104            201785            Auto                       Auto Used
39105            201821            Auto                       Auto Used
39106            201821            Auto                       Auto Used
39107            201829  Personal Loans         Debt Consolidation Loan
39108            201831            Auto                       Auto Used
39109            201835            Auto                       Auto Used
39110            201841            Auto  First Time Car Buyer Used Auto
39111            201847    Credit Cards               Pure Rewards Visa
39112            201852    Credit Cards               Pure Rewards Visa
39113            201854            Auto                       Auto Used
39114            201855  Personal Loans         Debt Consolidation Loan
39115            201857    Credit Cards     Cash Rewards Visa Signature
39116            201859  Personal Loans                   Personal Loan
39117            201860            Auto                       Auto Used
39118            201862  Personal Loans                   Personal Loan
39119            201865            Auto                       Auto Used
39120            201866  Personal Loans                   Personal Loan
39121            201867    Credit Cards               Pure Rewards Visa
39122            201868    Credit Cards                    Premium Visa
39123            201870  Personal Loans         Debt Consolidation Loan
39124            201871            Auto                       Auto Used
39125            201872            Auto                       Auto Used
39126            201873  Personal Loans         Debt Consolidation Loan
39127            201874            Auto                       Auto Used
39128            201875  Personal Loans         Debt Consolidation Loan

       Interest Rate Offered      Last Name   First Name Middle Initial  \
0                      11.00        Drayton        Tomas              A
1                       9.25         Bearam          Zoe            NaN
2                       2.74         Madden        Robin              M
3                       3.99        Brunard         Jean              S
4                       2.99         Voitel      Nichole              C
5                       2.99         Voitel      Richard              J
6                       9.35      Morecraft        James              L
7                      14.00         Chacon      Selmira            NaN
8                      14.00        Garrido       Victor              M
9                       8.49     Springette         Rita              P
10                      6.99          Grant        Shawn            NaN
11                     14.00     Hutchinson         Noel              W
12                     14.00     Hutchinson      Nolalee              N
13                     11.00          Labar         John              J
14                     14.50      Hernandez        James              A
15                      8.24           Rios         Ines              A
16                     18.00         Reagan         Mary              C
17                      2.74       Mitchell      Jalissa              D
18                      3.74          Brown        Cecil              E
19                      2.54       Campbell        James              P
20                     13.10         Mclean       Lindon              R
21                      9.25           Doan          Hoc              T
22                      6.99      Oyefesobi    Babatunde              O
23                     13.10         Toifel        Jason              M
24                      6.99           Neal  Christopher              L
25                      5.49        Barnett       Elaine              G
26                      5.49        Barnett         Mark              A
27                     15.10           Mayo        Craig              L
28                      5.49       Sullivan         Sean              E
29                     13.10        Cameron        Kevin              M
...                      ...            ...          ...            ...
39099                  10.85   Moreno Ayala       Julian              D
39100                  10.85  Moreno-Moreno        Ramon              O
39101                   3.73         Bhatia       Naresh              K
39102                   3.73         Bhatia        Manju            NaN
39103                  15.75        Schutte       Joseph              A
39104                   5.24        Vallejo        Frank              A
39105                   3.73         Sibona      Jessica              T
39106                   3.73         Sibona       Philip            NaN
39107                  11.75          Marks        Asher              A
39108                   3.73        Hammond        Carla            NaN
39109                   4.73      Mathiesen         Tara              H
39110                   8.49       Martinez        Ariel            NaN
39111                  18.00      Rodriguez         Ruth              V
39112                  16.25  Philip Kurien       Ashish            NaN
39113                   3.73       Mannello         Ryan            NaN
39114                  15.75         Kapoor      Rashesh            NaN
39115                  17.75         Kapoor      Rashesh            NaN
39116                  17.75          Moran       Edward              D
39117                   3.73       D'Egidio      Kristen              S
39118                  14.75        Hoggard       Jamaal            NaN
39119                   8.49           Atal       Hruday            NaN
39120                  11.75        Paredes      Leticia            NaN
39121                  18.00  Prinez Wilder      Kristal            NaN
39122                  12.85      Mielcarek        Karen              L
39123                  16.75         Chavez      ALberto            NaN
39124                   3.73          Abreu       Ashley              J
39125                   3.73         Famula        James              E
39126                  17.75       Kubat SR      Anthony            NaN
39127                  16.49       Gonzalez      Jessica              K
39128                  16.75        Jackson        David              E

      Generation Code  House Number  Street Direction  \
0                 NaN           NaN               NaN
1                 NaN           NaN               NaN
2                 NaN           NaN               NaN
3                 NaN           NaN               NaN
4                 NaN           NaN               NaN
5                 NaN           NaN               NaN
6                 NaN           NaN               NaN
7                 NaN           NaN               NaN
8                 NaN           NaN               NaN
9                 NaN           NaN               NaN
10                NaN           NaN               NaN
11                NaN           NaN               NaN
12                NaN           NaN               NaN
13                NaN           NaN               NaN
14                NaN           NaN               NaN
15                NaN           NaN               NaN
16                NaN           NaN               NaN
17                NaN           NaN               NaN
18                NaN           NaN               NaN
19                III           NaN               NaN
20                NaN           NaN               NaN
21                NaN           NaN               NaN
22                NaN           NaN               NaN
23                NaN           NaN               NaN
24                NaN           NaN               NaN
25                NaN           NaN               NaN
26                NaN           NaN               NaN
27                NaN           NaN               NaN
28                NaN           NaN               NaN
29                NaN           NaN               NaN
...               ...           ...               ...
39099             NaN           NaN               NaN
39100             NaN           NaN               NaN
39101             NaN           NaN               NaN
39102             NaN           NaN               NaN
39103             NaN           NaN               NaN
39104             NaN           NaN               NaN
39105             NaN           NaN               NaN
39106             NaN           NaN               NaN
39107             NaN           NaN               NaN
39108             NaN           NaN               NaN
39109             NaN           NaN               NaN
39110             NaN           NaN               NaN
39111             NaN           NaN               NaN
39112             NaN           NaN               NaN
39113             NaN           NaN               NaN
39114             NaN           NaN               NaN
39115             NaN           NaN               NaN
39116             NaN           NaN               NaN
39117             NaN           NaN               NaN
39118             NaN           NaN               NaN
39119             NaN           NaN               NaN
39120             NaN           NaN               NaN
39121             NaN           NaN               NaN
39122             NaN           NaN               NaN
39123             Jr.           NaN               NaN
39124             NaN           NaN               NaN
39125             NaN           NaN               NaN
39126             NaN           NaN               NaN
39127             NaN           NaN               NaN
39128             NaN           NaN               NaN

                 ...              \
0                ...
1                ...
2                ...
3                ...
4                ...
5                ...
6                ...
7                ...
8                ...
9                ...
10               ...
11               ...
12               ...
13               ...
14               ...
15               ...
16               ...
17               ...
18               ...
19               ...
20               ...
21               ...
22               ...
23               ...
24               ...
25               ...
26               ...
27               ...
28               ...
29               ...
...              ...
39099            ...
39100            ...
39101            ...
39102            ...
39103            ...
39104            ...
39105            ...
39106            ...
39107            ...
39108            ...
39109            ...
39110            ...
39111            ...
39112            ...
39113            ...
39114            ...
39115            ...
39116            ...
39117            ...
39118            ...
39119            ...
39120            ...
39121            ...
39122            ...
39123            ...
39124            ...
39125            ...
39126            ...
39127            ...
39128            ...

                                                 AAText5  \
0      Length of time revolving accounts have been es...
1                                                    NaN
2                                                    NaN
3      Ratio of balance to limit on bank revolving or...
4                                                    NaN
5                                                    NaN
6                                                    NaN
7              Too few accounts currently paid as agreed
8                                    Serious delinquency
9      Ratio of balance to limit on bank revolving or...
10       Time since delinquency is too recent or unknown
11                                                   NaN
12                            Non qualified Co-applicant
13                                                   NaN
14                                                   NaN
15     Ratio of balance to limit on bank revolving or...
16     Serious delinquency and Public Record OR Colle...
17                                                   NaN
18                                                   NaN
19                                                   NaN
20                                                   NaN
21                                                   NaN
22     Ratio of balance to limit on bank revolving or...
23                                                   NaN
24            Value or type of collateral not sufficient
25     Ratio of balance to limit on bank revolving or...
26                                                   NaN
27                                        Limited Credit
28                                                   NaN
29                                                   NaN
...                                                  ...
39099                                                NaN
39100                                                NaN
39101                                                NaN
39102                                                NaN
39103                                                NaN
39104                                                NaN
39105                                                NaN
39106                                                NaN
39107                                                NaN
39108                                                NaN
39109                                                NaN
39110                            Unable to verify income
39111  Lack of recent bank/national revolving informa...
39112                                                NaN
39113                                                NaN
39114                                                NaN
39115                                                NaN
39116                                                NaN
39117                                                NaN
39118  Number of recent inquiries on credit bureau re...
39119                                                NaN
39120                                                NaN
39121  Ratio of balance to limit on bank revolving or...
39122  Ratio of balance to limit on bank revolving or...
39123                                                NaN
39124                                                NaN
39125                                                NaN
39126  Serious delinquency and Public Record OR Colle...
39127  Ratio of balance to limit on bank revolving or...
39128  Ratio of balance to limit on bank revolving or...

                                                 AAText6  \
0      Proportion of loan balances to loan amounts is...
1                                                    NaN
2                                                    NaN
3                      Too many inquiries last 12 months
4                                                    NaN
5                                                    NaN
6                                                    NaN
7                                                    NaN
8                      Too many inquiries last 12 months
9      Serious delinquency and Public Record OR Colle...
10     Time since derogatory public record or collect...
11                                                   NaN
12     Proportion of loan balances to loan amounts is...
13                                                   NaN
14                                                   NaN
15                                   Serious delinquency
16       Time since delinquency is too recent or unknown
17                                                   NaN
18                                                   NaN
19                                                   NaN
20                                                   NaN
21                                                   NaN
22             Too few accounts currently paid as agreed
23                                                   NaN
24     We do not grant credit to any applicant on the...
25                                   Serious delinquency
26                                                   NaN
27     Ratio of balance to limit on bank revolving or...
28                                                   NaN
29                                                   NaN
...                                                  ...
39099                                                NaN
39100                                                NaN
39101                                                NaN
39102                                                NaN
39103                                                NaN
39104                                                NaN
39105                                                NaN
39106                                                NaN
39107                                                NaN
39108                                                NaN
39109                                                NaN
39110                                                NaN
39111      Length of time accounts have been established
39112                                                NaN
39113                                                NaN
39114                                                NaN
39115                                                NaN
39116                                                NaN

,Unique Record ID,Portfolio Type,Product Name,Interest Rate Offered,Last Name,First Name,Middle Initial,Generation Code,House Number,Street Direction,...,AAText5,AAText6,AAText7,AAText8,AAText9,AAText10,AAText11,AAText12,AAText13,Final Performance Flag
39124,201871,Auto,Auto Used,3.73,Abreu,Ashley,J,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Good
39125,201872,Auto,Auto Used,3.73,Famula,James,E,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Approved Not Booked (ANB)
39126,201873,Personal Loans,Debt Consolidation Loan,17.75,Kubat SR,Anthony,NaN,NaN,NaN,NaN,...,Serious delinquency and Public Record OR Colle...,Too few accounts currently paid as agreed,We do not grant credit to any applicant on the...,NaN,NaN,NaN,NaN,NaN,NaN,Reject
39127,201874,Auto,Auto Used,16.49,Gonzalez,Jessica,K,NaN,NaN,NaN,...,Ratio of balance to limit on bank revolving or...,Serious delinquency and Public Record OR Colle...,Time since delinquency is too recent or unknown,NaN,NaN,NaN,NaN,NaN,NaN,Reject
39128,201875,Personal Loans,Debt Consolidation Loan,16.75,Jackson,David,E,NaN,NaN,NaN,...,Ratio of balance to limit on bank revolving or...,Serious delinquency and Public Record OR Colle...,Time since derogatory public record or collect...,NaN,NaN,NaN,NaN,NaN,NaN,Reject

In [48]:
#Set Seed and generate numbers randomly- Random Number column
np.random.seed(10)
data['randNumCol'] = np.random.randint(1, 1000000, data.shape[0])

In [49]:
print(data['randNumCol'])

0        345354
1        760958
2        881168
3        443713
4        617842
5        105596
6        533661
7        927706
8        299742
9        804337
10       108446
11       278386
12       960507
13       140297
14       795722
15       710913
16       752107
17       880681
18       993783
19       245157
20       964980
21       103953
22       840037
23       180464
24       575884
25       985143
26       822617
27       519532
28       531579
29       950847
          ...
39099     23192
39100    792560
39101    733494
39102    766956
39103    799424
39104     74380
39105    112233
39106    133965
39107    310953
39108    350793
39109    578390
39110    730001
39111    716025
39112    938542
39113    753415
39114    117482
39115    958605
39116    457081
39117    865532
39118    937597
39119    316666
39120    569716
39121    851174
39122    288943
39123    535581
39124    655108
39125    876086
39126    184218
39127    582305
39128    336739
Name: randNumCol, Length: 39129, dtype: int64

In [50]:
#Sort by the new column randNumCol
data = data.sort_values(by=['randNumCol'], ascending=True)

In [51]:
#add a column for generating incremental sequence of numbers to use it for Unique_Id generation
data['Auto_SEQ'] = range(0, 0+len(data))
print(data['Auto_SEQ'])

23591        0
30404        1
24130        2
12920        3
17559        4
9059         5
11868        6
20534        7
17033        8
16090        9
1394        10
25404       11
33501       12
652         13
34363       14
24296       15
18292       16
37816       17
7117        18
33345       19
34391       20
14583       21
31336       22
2345        23
11754       24
28167       25
36351       26
10561       27
36674       28
34575       29
         ...
4209     39099
22623    39100
24410    39101
9808     39102
21661    39103
33080    39104
12573    39105
5378     39106
5947     39107
2205     39108
18708    39109
12086    39110
34099    39111
9555     39112
16787    39113
6757     39114
39020    39115
11075    39116
28707    39117
32229    39118
16625    39119
20022    39120
16349    39121
15191    39122
1713     39123
29589    39124
27291    39125
31787    39126
23278    39127
4608     39128
Name: Auto_SEQ, Length: 39129, dtype: int64

In [52]:
#convert the two columns to object datatype to combine them to form the unique ID

data['Auto_SEQ']=data['Auto_SEQ'].astype(str)
data['Unique Record ID']=data['Unique Record ID'].astype(str)

In [53]:
data.dtypes

Unique Record ID                 object
Portfolio Type                   object
Product Name                     object
Interest Rate Offered           float64
Last Name                        object
First Name                       object
Middle Initial                   object
Generation Code                  object
House Number                    float64
Street Direction                float64
Street Name                      object
Apt_ Number                      object
City                             object
State                            object
Zip                             float64
Social Security Number            int64
Credit Score 1                  float64
Credit Score 2                  float64
Application Date                  int64
Client Decision                  object
Worst Performance Everrrr         int64
Manual or Automatic Approval     object
Final Application Status         object
Referral Reason                 float64
Booking Date                     object
Override Reason 1               float64
Override Reason 2               float64
Loan Officer/Branch ID            int64
Application Time                float64
Loan Amount                     float64
Loan Term                       float64
Final Interest                  float64
ApplicationID                     int64
Note Balance                    float64
Applicant Status                 object
Debt to Income Ratio            float64
Total Debt                      float64
Total Income                    float64
Product Purpose                  object
LoanNumber                      float64
AAText1                          object
AAText2                          object
AAText3                          object
AAText4                          object
AAText5                          object
AAText6                          object
AAText7                          object
AAText8                          object
AAText9                          object
AAText10                         object
AAText11                         object
AAText12                         object
AAText13                        float64
Final Performance Flag           object
randNumCol                        int64
Auto_SEQ                         object
dtype: object

In [54]:
data["Name Length"]=data["Unique Record ID"].str.len()
print(data["Name Length"])

#data.dtypes

if (np.any(data["Name Length"] != 6)):
    data["Unique Record ID"]=  data["Unique Record ID"].str.zfill(6)
else: 0

23591    6
30404    6
24130    6
12920    6
17559    6
9059     6
11868    6
20534    6
17033    6
16090    6
1394     6
25404    6
33501    6
652      6
34363    6
24296    6
18292    6
37816    6
7117     6
33345    6
34391    6
14583    6
31336    6
2345     6
11754    6
28167    6
36351    6
10561    6
36674    6
34575    6
        ..
4209     6
22623    6
24410    6
9808     6
21661    6
33080    6
12573    6
5378     6
5947     6
2205     6
18708    6
12086    6
34099    6
9555     6
16787    6
6757     6
39020    6
11075    6
28707    6
32229    6
16625    6
20022    6
16349    6
15191    6
1713     6
29589    6
27291    6
31787    6
23278    6
4608     6
Name: Name Length, Length: 39129, dtype: int64

In [55]:
# Creating a unique_ID field and appending the two columns together
print(data['Unique Record ID'])
data["UniqueID"]= data['Auto_SEQ']+data['Unique Record ID']
  
# For fixed length of Unique_ID
data["UniqueID"]= data["UniqueID"].str.zfill(11) 
print(data['UniqueID'])

23591    167957
30404    182410
24130    169161
12920    141963
17559    152128
9059     136517
11868    140396
20534    160469
17033    150251
16090    147741
1394     125037
25404    172018
33501    189471
652      122228
34363    191354
24296    169540
18292    154360
37816    198801
7117     134003
33345    189144
34391    191417
14583    144486
31336    184436
2345     127927
11754    140212
28167    177695
36351    195468
10561    138508
36674    196130
34575    191859
          ...
4209     130346
22623    165694
24410    169803
9808     137449
21661    163317
33080    188520
12573    141463
5378     131838
5947     132546
2205     127764
18708    155705
12086    140747
34099    190796
9555     137138
16787    149599
6757     133569
39020    201584
11075    139224
28707    178938
32229    186547
16625    149165
20022    159286
16349    148460
15191    145309
1713     126184
29589    180758
27291    175937
31787    185550
23278    167248
4608     130841
Name: Unique Record ID, Length: 39129, dtype: object
23591    00000167957
30404    00001182410
24130    00002169161
12920    00003141963
17559    00004152128
9059     00005136517
11868    00006140396
20534    00007160469
17033    00008150251
16090    00009147741
1394     00010125037
25404    00011172018
33501    00012189471
652      00013122228
34363    00014191354
24296    00015169540
18292    00016154360
37816    00017198801
7117     00018134003
33345    00019189144
34391    00020191417
14583    00021144486
31336    00022184436
2345     00023127927
11754    00024140212
28167    00025177695
36351    00026195468
10561    00027138508
36674    00028196130
34575    00029191859
            ...
4209     39099130346
22623    39100165694
24410    39101169803
9808     39102137449
21661    39103163317
33080    39104188520
12573    39105141463
5378     39106131838
5947     39107132546
2205     39108127764
18708    39109155705
12086    39110140747
34099    39111190796
9555     39112137138
16787    39113149599
6757     39114133569
39020    39115201584
11075    39116139224
28707    39117178938
32229    39118186547
16625    39119149165
20022    39120159286
16349    39121148460
15191    39122145309
1713     39123126184
29589    39124180758
27291    39125175937
31787    39126185550
23278    39127167248
4608     39128130841
Name: UniqueID, Length: 39129, dtype: object

In [170]:
#data = data.replace(np.nan,'')

In [61]:
#data['Zip'].unique()
#data['Zip'] = data['Zip'].replace('\.\d*', '', regex=True)
#data['Zip']= data['Zip'].map(float)
#data["Zip"] = [float(str(i).replace("", "")) for i in data["Zip"]]
#data['Zip']= data['Zip'].astype(int)
data['Zip']= data['Zip'].fillna(0).astype(int)
#df.birth_year.astype(int)
print(data['Zip'])
#data['Zip'] = data['Zip'].astype(float).astype(int)
data = data.replace(np.nan,'')

23591    10927
30404     8873
24130     8823
12920     8844
17559    76022
9059      7095
11868     8854
20534    11580
17033     7866
16090     8904
1394      7646
25404     8831
33501     8820
652       8527
34363    75455
24296     8820
18292     8852
37816     7034
7117      7112
33345     7059
34391    10566
14583     7644
31336    13208
2345      8081
11754     8807
28167     7079
36351    11370
10561     8055
36674     7112
34575     8844
         ...
4209      7866
22623     7065
24410     8873
9808      8854
21661    11213
33080     7111
12573    55350
5378      8827
5947     94596
2205      7860
18708     7853
12086    19063
34099     8833
9555     28152
16787     8869
6757      7865
39020     7059
11075     7933
28707     8876
32229     8053
16625     7826
20022    10989
16349     8551
15191    29645
1713      7012
29589     8512
27291     7930
31787     7034
23278     7002
4608      8869
Name: Zip, Length: 39129, dtype: int64

In [62]:
data = data.replace(np.nan,'')

In [63]:
#data = data.replace(np.nan,'')

#print(data.head())
newdata = pd.DataFrame(data, columns = ['UniqueID', 'First Name', 'Last Name','Middle Initial','Street Name', 'City', 'State', 'Zip', 'Social Security Number'])

In [64]:
newdata.dtypes
#print(newdata.head())

UniqueID                  object
First Name                object
Last Name                 object
Middle Initial            object
Street Name               object
City                      object
State                     object
Zip                        int64
Social Security Number     int64
dtype: object

In [65]:
#for checking the maximum length of each column with any datatype
for column in newdata:
    print(column,"->", newdata[column].astype(str).str.len().max())

UniqueID -> 11
First Name -> 20
Last Name -> 21
Middle Initial -> 1
Street Name -> 45
City -> 26
State -> 2
Zip -> 5
Social Security Number -> 9

In [67]:
np.savetxt(r'FlatFile.txt', newdata.values, fmt='%+11s %+20s %+21s %+1s %+45s %+26s %+2s %+5s %+9s', delimiter=' ')